<script src="../../Js/SideBarI.js"></script>
<div class="MainSideBar">
  <div class="toggle-btn" onclick="toggleSidebar(this)">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="sidebar">
    <div class="elemenBar">
      <ul>
        <li class="">
          <a href="/"><i class="fa-solid fa-star"></i>Inicio</a>
        </li>
        <li class="">
          <a href="/productList"
            ><i class="fa-solid fa-star"></i>Categorias</a
          >
        </li>
        <li class="">
          <a href="/login"><i class="fa-solid fa-star"></i> iniciar Sesión</a>
        </li>

      </ul>
    </div>
  </div>
</div>
