body {
  background-color: #81b9af;
  font-family: sans-serif;
  height: 100vh;
  width: 95vw;
}
/* telefonos*/
@media only screen and (max-width: 900px) {
}

@media only screen and (min-width: 901px) {
  #MainProducL {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0 repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  #homeMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0 repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }
  #inputHome {
    grid-area: 1 / 1 / 2 / 6;
    display: flex;
    justify-content: center;
  }

  #inputHome > input {
    width: 90%;
    height: 10%;
    margin-top: 1rem;
  }

  #promos {
    grid-area: 2 / 1 / 6 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .quickAccess {
    grid-area: 2 / 4 / 6 / 6;
    background-color: #607a76;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
  }

  /* carrusel */
  .slides {
    width: 100%;
    height: 45%;
  }

  .slides img {
    width: 100%; /* O ajusta a un tamaño fijo, como 300px por ejemplo */
    height: 300px; /* Altura fija */
    object-fit: contain;
  }

  .slidesCo {
    width: 95%;

    position: relative;
    overflow: hidden;
  }

  .slidesMain {
    background-color: #607a76;
    height: 45%;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 95%;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .promoStatic {
    background-color: #607a76;
    border-radius: 1rem;
    height: 50%;
    width: 95%;
    display: flex;
    justify-items: center;
    justify-content: center;
  }
  .containerStatic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    width: 90%;
  }
  .containerStatic img {
    width: 100%;
    height: 95%;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* estilos productos recomendados*/

  .buttonsArea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
  }
  .buttonsArea button {
    height: 100%;
  }

  .productR {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: 70%;
  }

  .product {
    color: white;
    background-color: #3e4f4c;
    border-radius: 10px;
    margin: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .product img {
    width: 100px;
  }

  .containerCat {
    grid-area: 1 / 1 / 6 / 2;
    width: 100%;
    height: 100%;
  }
  .list-group li {
    width: 100%;
    margin: 0.5rem;
  }

  .listCat {
    width: 100%;
  }

  #containerSubC {
    grid-area: 1 / 2 / 3 / 6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #containerProd {
    grid-area: 3 / 2 / 6 / 6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #containerProd h5 {
    align-self: center;
  }

  .Product {
    width: 90%;
  }

  #mainCart {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0 repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  #cart {
    grid-area: 1 / 1 / 7 / 3;
    width: 100%;
    overflow: hidden;
  }
  #datosCl {
    grid-area: 1 / 4 / 3 / 6;
    width: 100%;
  }
  #datosEnvio {
    grid-area: 3 / 4 / 5 / 6;
    width: 100%;
  }
  #detaPagos {
    grid-area: 5 / 4 / 7 / 6;
    width: 100%;
  }

  .DetallePago div {
    height: 30px;
  }
  .DetallePago div > input,
  label {
    height: 10%;
    font-size: small;
  }

  #MainAdminC {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0 repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  #productsLs {
    grid-area: 1 / 1 / 6 / 3;
    width: 100%;
    height: 100%;
  }

  #productsLs>div {
  height: 70%;
  }

  #detallesAd {
    grid-area: 1 / 4 / 6 / 6;
    width: 100%;
    height: 100%;
  }

  .tab{
    overflow: scroll;
    height: 300px;
    overflow-x: hidden;
  }
}
