<style>
  .category-circle {
    width: 100px;
    height: 100px;
    background-color: #17a2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .category-circle img {
    width: 60px;
    height: auto;
  }

  .category-text {
    text-align: center;
    font-size: 14px;
  }

  .custom-prev,
  .custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-prev {
    left: -60px;
    /* Ajusta esta distancia para separar la flecha del primer elemento */
  }

  .custom-next {
    right: -60px;
    /* Ajusta esta distancia para separar la flecha del último elemento */
  }

  .custom-prev:hover,
  .custom-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Color más oscuro al pasar el mouse */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }

  .hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .hover-effect:hover {
    transform: translateY(-10px);
    /* Eleva la tarjeta hacia arriba */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Añade una sombra */
    cursor: pointer;
    /* Cambia el cursor a pointer para indicar que es clickeable */
  }
</style>
<div id="MainProducL">
  <div class="container containerCat mt-5" style="
    width: auto;">
    <div class="row listCat">
      <!-- Sidebar de categorías -->
      <div class="">
        <h5>Categorías</h5>
        <ul id="listCat" class="list-group"></ul>
      </div>
    </div>
  </div>

  <div id="containerSubC">
    <div class="container mt-5" style="width: 90%;">
      <h2 class="mb-4"><!-- ?php echo "{$CategoryGet}"; ?--></h2>
      <div id="categoryCarousel" class="carousel slide" data-bs-ride="carouse">
        <div class="carousel-inner"></div>
        <!-- Controles de carrusel -->
        <button
          class="carousel-control-prev custom-prev"
          type="button"
          data-bs-target="#categoryCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next custom-next"
          type="button"
          data-bs-target="#categoryCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>

  <div id="containerProd">
    <div class="Product"></div>
  </div>
</div>

