
    <div class="mainHomeU">

        <div class="searchArea">
            <div class="searchTitle">
                <h1>Mini Super</h1>
            </div>
            <div class="inputSearch">
                <input type="text" placeholder="Hinted search text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>

        <div class="info ">
            <section class="about cardStyle1">
                <h2>Quienes Somos!</h2>
                <p>Somos un equipo dedicado a ofrecer una experiencia de compra única en nuestro mini super. Nos
                    esforzamos por brindar productos de calidad a precios accesibles, asegurando que nuestros
                    clientes encuentren todo lo que necesitan en un solo lugar. Con un enfoque en el servicio al
                    cliente y una gestión eficiente, nuestro objetivo es mejorar cada día y convertirnos en la mejor
                    opción para tu compra diaria.</p>
            </section>
        </div>
        <section class="featured">
            <div class="card1 cardStyle1">
                <h3>Title</h3>
                <p>Supporting line text lorem ipsum dolor sit amet, consectetur</p>
                <div class="buttons">
                    <button>Action</button>
                    <button>Action</button>
                </div>
            </div>

            <div class="orderCard">
                <div class="LocationInfo">
                    <div class="LoInfo">
                        <h3>Ver Pedido</h3>
                        <p>conozca el estado de su pedido así como su ubicacion</p>
                    </div>
                    <div class="map-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
                <div>
                    <button>Ver</button>
                </div>
            </div>
        </section>
    </div>
