
<div class="back">
  <div class="user">
    <i class="fa-regular fa-user"></i>
  </div>
  <div class="container">
    <div class="flez">
      <form method="post">
        <div class="texd">
          <input id="email" type="text" name="user" placeholder="Correo" required>
          <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div class="bo">
          <div>
            <button type="button" id="is" class="bs">Iniciar Sesión</button>
          </div>
      </form>
      <div>
        <a href="/signup"><button type="button" id="rg" class="bs">Registrarse</button></a>
      </div>
    </div>
    <div class="lpass">
      <a href="#" class="forgot">Recuperar Contraseña</a>
    </div>
  </div>
</div>